.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #87ceeb, #add8e6);
}

.copyright {
  color: black;
  margin: 10px 0;
}

.copyright a {
  text-decoration: none;
  color: blueviolet;
}
